<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-order-request-heading" jhiTranslate="bApp.orderRequest.home.createOrEditLabel">Create or edit a Order Request</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bApp.orderRequest.customerId" for="field_customerId">Customer Id</label>
                    <input type="number" class="form-control" name="customerId" id="field_customerId"
                           formControlName="customerId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bApp.orderRequest.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bApp.orderRequest.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                           formControlName="quantity"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bApp.orderRequest.sign" for="field_sign">Sign</label>
                    <select class="form-control" id="field_sign" name="sign" formControlName="signId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="signOption.id" *ngFor="let signOption of signs; trackBy: trackSignById">{{signOption.instrumentName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bApp.orderRequest.userAccount" for="field_userAccount">User Account</label>
                    <select class="form-control" id="field_userAccount" name="userAccount" formControlName="userAccountId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userAccountOption.id" *ngFor="let userAccountOption of useraccounts; trackBy: trackUserAccountById">{{userAccountOption.username}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
