<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userAccount">
            <h2><span jhiTranslate="bApp.userAccount.detail.title">User Account</span> {{userAccount.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bApp.userAccount.firstName">First Name</span></dt>
                <dd>
                    <span>{{userAccount.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="bApp.userAccount.lastName">Last Name</span></dt>
                <dd>
                    <span>{{userAccount.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="bApp.userAccount.accountType">Account Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'bApp.AccountType.' + userAccount.accountType}}">{{userAccount.accountType}}</span>
                </dd>
                <dt><span jhiTranslate="bApp.userAccount.username">Username</span></dt>
                <dd>
                    <span>{{userAccount.username}}</span>
                </dd>
                <dt><span jhiTranslate="bApp.userAccount.password">Password</span></dt>
                <dd>
                    <span>{{userAccount.password}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-account', userAccount.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
